.rows
{
    margin-left: 20px;
    color: #fff;
}
.posters
{
    display: flex;
    flex-direction: row;
    overflow-y:hidden ;
    overflow-x: scroll;
    padding: 20px;
    /* overscroll-behavior-inline: contain;
    scroll-snap-type:inline mandatory ; */
}
.posters::-webkit-scrollbar
{
    display: none;
}

.poster
{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}
.poster:hover
{
    transform: scale(1.1);
}
.smallposter
{
    max-height: 100px;
    cursor: pointer;
}
.smallposter:hover
{
    transform: scale(1.1);
}